@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.introText {
  width: 100%;
  margin-bottom: 20px;
}

h2 {
  margin: auto;
  width: fit-content;

  margin-top: 30px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 2.7rem;
}

.highlight {
  font-size: 1.1rem;
  background-color: #9d81b6;
  border-radius: 4px;
  color: white;
  padding: 0.4em 0.5em;
  transition: 500ms;
}

@media only screen and (max-width: 900px) {
  h2 {
    font-size: 1.1rem;
    width: 100%;
    max-width: 90vw;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2.4rem;
  }
}
