.photo-card {
  display: flex;
  justify-content: space-between;
  margin-top: calc(50px - 5px);
  border-radius: 4px;
  background-color: #fafafa;
  width: 620px;
  min-height: fit-content;
}

.imagen-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-section img {
  margin: auto auto;
  border-radius: 4px;
  height: 370px;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  filter: grayscale(55%);
}
.imagen-section img:hover {
  cursor: pointer;
  transform: scale(1.02);

  filter: grayscale(0%);
}

.action-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  border-radius: 4px;
}
.action-span span {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  height: 30px;
  margin: 10px;
  transition: 0.3s;
}
.action-span span:hover {
  transform: scale(1.2);
}

.action-span .fav-icon:hover {
  -webkit-animation: fav-icon 1.5s ease-in-out infinite both;
  animation: fav-icon 1.5s ease-in-out infinite both;
}
@-webkit-keyframes fav-icon {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes fav-icon {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* .modal-imagen-section {
  display: flex;
  flex-direction: column;
} */

.modal-imagen-section img {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  margin: auto auto;
  border-radius: 4px;
  max-height: 75vh;
  max-width: 100%;
  object-fit: contain;
  transition: 0.3s;
}

.info-text-home-modal section {
  width: 100%;
  display: flex;

  flex-direction: row-reverse;
  justify-content: space-around;
}

@media only screen and (max-width: 900px) {
  .photo-card {
    margin-top: calc(20px - 5px);
    width: 85vw;
    height: fit-content;
  }
  .imagen-section img {
    margin: auto auto;
    border-radius: 4px;
    height: 25vh;
    object-fit: cover;
    transition: 0.3s;
    filter: grayscale(0%);
  }
  .imagen-section img:hover {
    filter: grayscale(0%);
  }
}
