.photo-card {
  display: flex;
  justify-content: space-between;
  margin-top: calc(50px - 5px);
  border-radius: 4px;
  background-color: #fafafa;
  width: 520px;
  height: 600px;
  transition: all 1s;
}

.imagen-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
.imagen-section img {
  margin: auto auto;
  border-radius: 4px;
  height: 600px;
  width: 98%;
  object-fit: cover;
  transition: 0.3s;
}
.imagen-section img:hover {
  cursor: zoom-in;
  transform: scale(1.02);
}

.modal-imagen-section img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  margin: auto auto;
  border-radius: 4px;
  max-height: 75vh;
  max-width: 100%;
  object-fit: contain;
  transition: 0.3s;
}

.action-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f1f14f;
  border-radius: 4px;
}
.action-span span {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  height: 30px;
  margin: 10px;
  transition: 0.3s;
}
.action-span span:hover {
  transform: scale(1.2);
}

.action-span .fav-icon:hover {
  -webkit-animation: fav-icon 1.5s ease-in-out infinite both;
  animation: fav-icon 1.5s ease-in-out infinite both;
}
@-webkit-keyframes fav-icon {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes fav-icon {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
