@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', monospace !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #9d81b6;
  color: white;
}

::selection {
  background: #9d81b6;
  color: white;
}
